# Built-in ignores
HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/
bin/
build/

# Node/Angular
node_modules/
**/node_modules/
.angular/
**/ .angular/
dist/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.iws
*.iml
*.ipr
.settings/
.classpath
.project
.factorypath
.apt_generated
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Maven
.mvn/wrapper/maven-wrapper.jar

# Stitch Assets
stitch_assets/

# OS
.DS_Store
Thumbs.db

# Redundant folders
Biblioteca/

# Design Reference
DESIGN.md
